@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500&family=Ubuntu&display=swap');

.container {
  width: 1366px;
  Height:100%;
  margin: 0 auto;
  background-image:url(./image/Фон\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
font-weight: 400;
}
.header{
 width: 1366px;
 background: rgba(0, 0, 0, 0.4);
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 display: flex;
 justify-content: space-between;
}

.journey{
  display: flex;
  margin-left: 79px;
  margin-top: 18px;
  margin-bottom: 18px;
 font-weight: 700;
font-size: 22px;
line-height: 22px;
 color: #FFFFFF;


}
.journey:hover{
 color: #296846;
}
.item{
 margin-top: 17px;
}

.item-1{
 margin-right: 27px;
}

.item-2,
.item-3{
 margin-right: 24px;
}

.item-1:hover path,
.item-2:hover path,
.item-3:hover path{
  fill: #01813F;
}

.line{
 display: flex;
 width: 1px;
 height: 19px;
 border-right: 1px solid #FFFFFF;
 opacity: 0.5;
 margin-left: 25px;
 margin-right: 27px;
 margin-top: 7px;
}

.line:hover{
 opacity: 0.1;
}

.text-header{
 font-size: 14px;
 line-height: 14px;
 display: flex;
 color: #FFFFFF;
 margin-right: 79px;
 margin-top: 10px;
}

.header-right{
 display: flex;
}

.text-hover:hover{
 color: #245239;
}

.main{
 position: relative;
 display: flex;
 align-items: center;
 text-align: center;
 margin-top: 54px;
 margin-left: 461px;
 width: 444px;
 background: #FFFFFF;
 box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.form{
 position: relative;
}
.sguare{
 position: absolute;
 width: 18px;
 height: 18px;
 left: 0px;
 top: 29px;
 background: #3CB878;
}

.registr{
 display: flex;
 margin-top: 29px;
 margin-bottom: 13px;
 text-decoration: none;
 cursor: pointer;
}

.sign{
 display: flex;
 color:  #434343;
 font-size: 20px;
 line-height: 20px;
 margin-left: 61px;
}

.log{
 display: flex;
 font-size: 14px;
 line-height: 14px;
 color: #3CB878;
 position: absolute;
 right: 59px;
 top:33px;
}

.log:hover{
 color: #01813F;}

.sotial{
 height: 48px;
 display: flex;
 text-align: center;
 justify-content: center;
 margin-bottom:31px;
}

.fb-btn{
 margin-right: 4px;
 display: flex;
 color: #FFFFFF;
 width: 160px;
 padding-top:17px;
 background: #305DB8;
}

.fb-btn:hover{
 background:#022263
}

.sotial-text{
 display: flex;
 font-size: 16px;
 line-height: 16px;
 text-decoration: none;
 color: #FFFFFF
}

.gg-btn{
 color: #FFFFFF;
 display: flex;
 width: 160px;
 padding-top:17px;
 background: #DF4A32;
}

.gg-btn:hover {
 background:#AB1F09;
}

.line-sotial{
 display: flex;
 border-right: 1px solid #FFFFFF;
 width: 1px;
 height: 28px;
 margin-left: 18px;
 margin-right: 18px;
 margin-top: -6px;
 background: #0A162F;
 mix-blend-mode: normal;
 opacity: 0.1;
}

.wrapper-or{
 display:inline-flex;
 justify-content: center;
 
}
.line-or{
 width: 150px;
 height: 0px;
 border: 1px solid #F2F2F2;
}

.or{
 display: flex;
 margin-right: 2px;
 margin-left: 2px;
 font-size: 14px;
 line-height: 14px;
 color: #848484;
}

.button {
 display: inline block;
}

.text {
 outline: none;
 width: 324px;
 padding-top:14px;
 padding-left: 20px;
 padding-bottom: 15px;
 margin-top: 15px;
 display: inline-block;
 border: 1px solid#F2F2F2;
 box-sizing: border-box;
 background: #FFFFFF;
 box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
 border-radius: 4px;
 font-size: 14px;
 line-height: 14px;
 color: black;
}

.text::placeholder{
 color: #BEBEBE;
}

input[type=submit] {
 padding-top: 16px;
 padding-bottom: 16px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 width: 324px;
 background: rgba(60, 184, 120, 0.8);
 border-radius: 4px;
 font-size: 16px;
 line-height: 16px;
 align-items: center;
 color: #FFFFFF;
 margin-bottom: 38px;
 margin-top: 20px;
}

.check{
 display: flex;
 margin-left: 65px;
 margin-top: 12px;
 padding-left: 8px;
 font-size: 14px;
 line-height: 14px;
}
.checkbox-text-1{
  color: #434343;
  display: flex;
}
.checkbox-text-2{
 display: flex;
 color: #3CB878;
}

.checkbox-text-2:hover{
 color: #01813F;
 text-decoration: underline;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, {
 display: inline-block;
 position: relative;
 padding-left: 28px;
 line-height: 20px;
 cursor: pointer;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked){
 position: absolute;
 left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label{
 display: inline-block;
 position: relative;
 padding-left: 28px;
 cursor: pointer;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after{
 content: "";
 position: absolute;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
 left: 3px;
 top: 4px;
 width: 10px;
 height: 10px;
 border-radius: 2px;
 border-left: 4px solid #63C693;
 border-bottom: 4px solid #63C693;
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
 opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
 opacity: 1;
}

input[type=submit]:hover {
  background-color: #01813F;
}

input [type=heckbox]{
 margin-top: 12px;
 font-size: 14px;
 line-height: 14px;
 align-items: center;
 color: #434343;
}

